body {
  font-family: "Sigmar", sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  font-style: normal;
  color: white !important;
  background: rgb(102, 91, 218);
  background: linear-gradient(90deg, rgb(102, 91, 218) 0%, rgb(54, 100, 184) 44%, rgb(47, 40, 130) 100%);
  background-repeat: no-repeat;
  height: 100vh;
}
body main {
  width: 70%;
}
body main #beginWindow {
  height: 10rem;
  border: 3px solid rgb(13, 6, 117);
  border-radius: 2rem;
  background-color: rgb(40, 40, 139);
  box-shadow: 0px 4px 0px 4px rgba(62, 62, 187, 0.644) inset;
}
body main #beginWindow h1 {
  margin: 1rem;
}
body main #beginWindow button {
  border-radius: 6rem;
  height: 3rem;
  width: 5rem;
  font-family: "Sigmar", sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  font-style: normal;
  color: white !important;
  color: rgb(61, 137, 236) !important;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0px -2px 0px 1px rgba(62, 62, 187, 0.644) inset;
}
body main #game {
  display: none;
  width: 500px;
}
body main #game .progressBar {
  border: 2px solid white;
  width: 10rem;
  height: 1.5rem;
  border-radius: 3rem;
}
body main #game .progressBar .barColor {
  background-color: rgb(100, 231, 12);
  height: 1.2rem;
  border-radius: 3rem;
  width: 0%;
}
body main #game #word {
  margin-bottom: 1rem;
  font-family: "Sigmar", sans-serif !important;
  font-weight: 400 !important;
  font-size: 3rem !important;
  font-style: normal;
  color: white !important;
  border: 2px solid white;
  padding: 1rem;
  border-radius: 0.5rem;
}
body main #game #word div {
  border-bottom: 2px solid rgb(254, 254, 255);
  width: 2.3rem;
}
body main #game #word .empty {
  cursor: pointer;
  color: rgb(118, 5, 133);
}
body main #game #alphabet {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0.2rem;
  margin-bottom: 1rem;
}
body main #game #alphabet div {
  border: 2px solid white;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
body main #game #alphabet .choose {
  color: rgb(182, 12, 204);
  background-color: aliceblue;
}
body main #game #clear {
  margin-left: auto;
}
body main #game #clear span {
  cursor: pointer;
}
body main .modalBackground {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
body main .modalBackground .modalActive {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 250px;
  height: 255px;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  cursor: default;
  padding: 40px 20px;
}
body main .modalBackground .modalActive h2 {
  font-size: 2rem;
}
body main .modalBackground .modalActive .nextButton,
body main .modalBackground .modalActive .exitButton {
  font-family: "Sigmar", sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.3rem !important;
  font-style: normal;
  color: white !important;
  margin: 0.5rem;
  align-self: center;
}
body main .modalBackground .modalActive .nextButton span,
body main .modalBackground .modalActive .exitButton span {
  background-color: rgb(49, 49, 245) !important;
  padding: 0 1rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 2rem;
  font-size: 1.5rem;
  box-shadow: 4px 4px 8px 20px rgba(34, 60, 80, 0.637) inset;
}
body main .modalBackground .modalActive .modalWindow {
  position: relative;
  color: black;
}

@media screen and (max-width: 550px) {
  body main #game {
    width: 400px !important;
  }
  body main #game #alphabet {
    grid-template-columns: repeat(8, 1fr);
  }
  body main #game #alphabet div {
    padding: 0.5rem;
    text-align: center;
  }
  body main #game #word {
    font-size: 2rem !important;
  }
  body main #game #word .empty {
    width: 1.5rem;
  }
  body main #game #word div {
    width: 1.5rem;
    text-align: center;
  }
}
@media screen and (max-width: 420px) {
  body main #game {
    width: 300px !important;
  }
  body main #game #alphabet div {
    text-align: center;
  }
  body main #game #word {
    font-size: 2rem !important;
  }
  body main #game #word .empty {
    width: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
