$widthMainWindow: 300px;

body {
    background: rgb(102,91,218);
    background: linear-gradient(90deg, rgba(102,91,218,1) 0%, rgba(54,100,184,1) 44%, rgba(47,40,130,1) 100%);

    main {
        width: 600px;
        margin: auto;
        display: flex;
        flex-direction: column;

        iframe {
            width: 450px;
            background-color: black;
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: center;

            color: white;

            button {
                width: 60px;
                margin-left: 1rem;
            }

            margin-bottom: 1rem;
        }
    }
}