$widthMainWindow: 401px;

body {
    background: rgb(102,91,218);
    background: linear-gradient(90deg, rgba(102,91,218,1) 0%, rgba(54,100,184,1) 44%, rgba(47,40,130,1) 100%);

    main {
        margin: auto;
        width: $widthMainWindow;

        .header {
            margin-top: 2rem;
            font-size: 1.5rem;
            color: white;
        }

        .window {
            border: 3px solid black;
            width: 400px;
            height: 600px;
            background-color: black;
        }

        .footer {
            margin-top: 1rem;
            display: flex;

            .control {
                margin-left: auto;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2px;

                .trn-left {
                    grid-column: 2;
                }

                .left, .down, .right {
                    grid-row: 2;
                }
            }

            button {
                cursor: pointer;
                background-color: black;
                color: white;
                height: 30px;
                width: 60px;
                margin-bottom: .3rem;
                font-size: .6rem;
            }
        }
    }
}