@font-face {
    font-family: "Roboto-Regular";
    src: url(assets/fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(assets/fonts/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}



$font: "Roboto-Regular", sans-serif;
$font-bold: "Roboto-Bold", sans-serif;

$font-size: 14px;
$font-size-large: 16px;
$header-size: 54px;

$colors: (
    text: hsl(234, 29%, 20%),
    background: hsl(235, 18%, 26%),
    white: hsl(0, 0%, 100%),
    text-input: hsl(231, 7%, 60%),
    gradient: linear-gradient(94deg, rgba(250,19,74,1) 10%, rgba(245,83,56,1) 47%, rgba(245,125,56,1) 90%)
);

$radius: 1rem;
$pf: 1rem;
$m: auto;
$mt: 10rem;
$m-form: 1rem;
$m-list: 1rem;

$main-width: 48rem;
$img-width: 22rem;

$input-height: 2rem;

$mark: url(assets/images/icon-list.svg);

%window {
    background-color: map-get($colors, white);
    border-radius: $radius;
    padding: $pf;
}

button {
    width: 100%;
    font-family: $font-bold;
    padding: .5rem $pf;
    border: none;
    border-radius: .5rem;
    background-color: map-get($colors, background);
    color: map-get($colors, white);
    font-size: $font-size;
    cursor: pointer;

    &:hover {
        background: map-get($colors, gradient);
    }
}

h1 {
    font-size: $header-size;
    font-family: $font-bold;
}

body {
    font-family: $font;
    font-size: $font-size;
    color: map-get($colors, text);
    background-color: map-get($colors, background);
}

form {
    width: $img-width;
    margin: $m-form;
    padding: $pf;

    .emal {
        margin-top: 2.5rem;
        font-size: $font-size;
        font-family: $font-bold;

        display: flex;
        justify-content: space-between;

        .emailReq {
            display: none;
            color: hsl(4, 100%, 67%);
        }
    }
}

main {
    @extend %window;
    margin: $mt $m $m $m;
    width: $main-width;

    display: flex;
    justify-content: space-between;

    .imageBackground {
        background-image: url(assets/images/illustration-sign-up-desktop.svg);
        width: $img-width;
        background-repeat: no-repeat;
        border-radius: 2%;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            display: flex;
            align-items: center;
            margin: $m-list 0;

            &::before {
                content: $mark;
                padding-right: 1rem;
                margin-top: 0;
            }
        }
    }

    input {
        display: block;
        margin-top: .5rem;
        margin-bottom: 1rem;
        color: map-get($colors, text-input);
        font-family: $font;
        font-size: $font-size-large;
        padding: $pf;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid map-get($colors, text-input);
        border-radius: .5rem;

        &:focus {
            color: map-get($colors, text);
        }
    }
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: map-get($colors, background);
    overflow: auto;
    
    .modalContent {
        @extend %window;
        width: 17rem;
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        padding: 2rem;

        img {
            width: 3rem;
        }

        #emailPerson {
            font-family: $font-bold;
        }

        h2 {
            font-size: 2rem;
            font-family: $font-bold;
        }
    }
}

footer {
    color: map-get($colors, white);
}

@media screen and (max-width: 490px) {

    body {
        margin: 0;
        background-color: map-get($colors, white);
    }

    main {
        flex-direction: column;
        width: 20rem;
        margin: auto;
        padding: 0;

        form {
            margin: 0;
            padding: 1rem;
            width: 18rem;

            h1 {
                font-size: 36px;
                margin: 0 auto 1rem auto;
            }
        }

        .imageBackground {
            order: -1;
            background-image: url(assets/images/illustration-sign-up-mobile.svg);
            width: 20rem;
            height: 18rem;
            border-radius: 0 0 10% 10%;
        }
    }

    .modal {
        background-color: map-get($colors, white);
        .modalContent {
            display: flex;
            flex-direction: column;
    
            button {
                align-self: flex-end;
            }
        }
    }

    footer {
        color: map-get($colors, text);
    }
}