body {
    background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 600;
    font-style: normal;

    width: 600px;
    margin: auto;
}

main {
    height: 300px;
}

header {
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    justify-content: space-between;

    padding: 1em;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 15px;
}

header div {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    width: 130px;
}

header h2 {
    color: hsl(229, 64%, 46%);
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: .5em;
}

#score {
    color: hsl(229, 25%, 31%);
    font-size: 58px;
}

h1, p, h2 {
    margin: 0;
}

p {
    font-size: 18px;
    letter-spacing: 2px;
}

.section img[alt="bg-triangle"] {
    margin-top: 4em;
    margin-bottom: 3em;
    width: 250px;
}

.section {
    background-image: url("images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center 50px;
    background-size: 240px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 50px; 
}

.paper, 
.scissors,
.rock {
    background: white;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
    border-radius: 50%;
}

.paper {
    border: 20px solid hsl(230, 89%, 62%);
    box-shadow: 0 5px hsl(230, 55%, 35%), inset 1px 4px rgb(199, 197, 197);
    justify-self: right;
}

.scissors {
    border: 20px solid hsl(39, 89%, 49%);
    box-shadow: 0 5px hsl(39, 91%, 35%), inset 1px 4px rgb(199, 197, 197);
    justify-self: left;
}

.rock {
    position: relative;
    bottom: 40px;
    grid-column: 1 / 3;
    border: 20px solid hsl(349, 71%, 52%);
    box-shadow: 0 5px hsl(349, 67%, 35%), inset 1px 4px rgb(199, 197, 197);
}

.buttonRules {
    background: none;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 700;
    font-style: normal;
    width: 80px;
    height: 30px;
    letter-spacing: 2px;
    position: relative;
    left: 600px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto; 
}

.modalContent {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 1em;
    font-size: 24px;
    color: hsl(229, 25%, 31%);
}

.modalContent div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; 
}

#close {
    cursor: pointer;
    border: none;
    background-color: white;
}

img[alt="rules"] {
    width: 300px;
}

img[alt="close"] {
    width: 20px;
}

.gameField {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.gameField div {
    margin-top: 2rem;
    width: 150px;
    height: 150px;
    justify-self: center;
    bottom: 0;
    cursor: auto;
}

.gameField img {
    width: 80px;
}

.emptyDiv {
    width: 100px;
    height: 100px;
    position: relative;
    top: 25px;
    background: hsl(212, 46%, 16%);
    border-radius: 50%;
}

.endGame {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.endGame p {
    font-size: 34px;
    margin-bottom: 1rem;
}

.endGame button {
    background: white;
    cursor: pointer;
    color: hsl(229, 25%, 31%);
    border: 2px solid white;
    border-radius: 5px;
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    font-size: 14px;
    height: 35px;
    letter-spacing: 2px;
}

.endGame button:hover {
    color: red;
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
    color: white; 
}

.attribution a { 
    color: white; 
}

.winner::before,
.winner::after {
    content: '';
    position: absolute;
    border: 30px solid rgba(255, 255, 255, 0.055); 
    border-radius: 50%; 
    z-index: 1; 
}

.winner::before {
    width: 190px; 
    height: 190px;
}

.winner::after {
    width: 250px;
    height: 250px;
    border: 35px solid rgba(255, 255, 255, 0.034);
}

@media screen and (max-width: 650px) {
    body {
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        height: 350px;
    }

    header {
        width: 300px;
    }

    header img {
        width: 150px;
    }

    .buttonRules {
        margin: 3rem auto 1rem auto;
        position: static;
    }

    .gameField div {
        width: 90px;
        height: 90px;
    }

    .gameField {
        gap: 20px;
    }

    .gameField > p {
        font-size: 14px;
    }
    
    .gameField img {
        width: 60px;
    }

    .gameField .endGame {
        width: 100%;
    }

    .endGame button {
        width: 200px;
    }

    .endGame {
        grid-column: 1 / 3;
        grid-row: 3;
        justify-items: center;
    }

    .endGame p {
        text-align: center;
    }

    .winner::before {
        width: 120px; 
        height: 120px;
    }
    
    .winner::after {
        width: 180px;
        height: 180px;
    }
}