@mixin font($weight: 400, $size: 15px, $color: hsl(0, 0%, 98%)) {
    font-family: "Josefin Sans", serif !important;
    font-weight: $weight !important;
    font-size: $size !important;
    color: $color !important;
}

@mixin defaultDiv() {
    background-color: hsl(235, 24%, 19%);
    margin-bottom: 0;
}

body {
    background-color: hsl(235, 21%, 11%) !important;
    background-image: url(images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-size: 100% 45vh;
    
    div {
        width: 40%;
        @include font();

        header {
            margin-top: 25%;
            h1 {
                @include font(700, 2.5rem);
                letter-spacing: 10px;
                margin: 0;
            }

            #theme {
                cursor: pointer;
            }
        }

        main {

            div {
                @include defaultDiv();
                width: 100%;
                margin-bottom: 1rem;
                margin-top: 1rem;
                padding: 1rem;
                border-radius: .3rem;

                input[type="text"] {
                    @include font(400, 16px);
                    @include defaultDiv();
                    width: 90%;
                    border: none;
                    caret-color: hsl(220, 98%, 61%);
                    border-radius: .3rem;
                    &:focus {
                        border: none;
                        outline: none;
                    }
                }

                input[type="checkbox"] {
                    appearance: none;
                    border: 1px solid hsl(233, 14%, 35%);
                    width: 1.2rem;
                    height: 1.2rem;
                    border-radius: 50%;
                    margin-right: 1rem;

                    &:hover {
                        cursor: pointer;
                        border: 1px solid transparent;
                        border-radius: 50%;
                        background: linear-gradient(hsl(235, 24%, 19%), hsl(235, 24%, 19%) 0) padding-box,
                                    linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
                    }

                    &:checked {
                        background: 
                            url(images/icon-check.svg) center no-repeat,
                            linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)); 
                    }
                }
            }

            #todo {
                padding: 0;
                margin-bottom: 0;
                border-radius: .3rem .3rem 0 0;

                div:first-child {
                    border-radius: .3rem .3rem 0 0;
                }

                div {
                    @include defaultDiv();
                    margin-top: 0;
                    padding: 1rem;
                    border-bottom: 1px solid hsl(233, 14%, 35%);
                    width: 100%;
                    border-radius: 0;

                    span {
                        cursor: pointer;
                    }

                    #spanIMG {
                        display: none;
                        margin-left: auto;
                        border-radius: 50%;
                        img {
                            border-radius: 50%;
                            width: 1rem;
                        }
                    }

                    &:hover {
                        #spanIMG {
                            display: inline;
                        }
                    }
                }   
            }
        }

        .footerDiv {
            @include defaultDiv();
            border-radius: 0 0 .3rem .3rem;
            margin-top: 0;
            margin-bottom: 2rem;
            div {
                padding: 0;
                margin: 0;
                @include font(400, 14px, hsl(234, 11%, 52%));

                span {
                    cursor: pointer;
                    &:hover {
                        color: hsl(236, 33%, 92%);
                    }
                }
                
            }
        }
        
        footer {
            color: hsl(234, 11%, 52%);
            font-size: 11px; 
            text-align: center; 
            a {
                color: hsl(228, 45%, 44%);
            }
        }
    }   
}