body.lightTheme {
  background-color: hsl(236, 33%, 92%) !important;
  background-image: url(images/bg-desktop-light.jpg);
}
body.lightTheme div {
  font-family: "Josefin Sans", serif !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  color: hsl(235, 19%, 35%) !important;
}
body.lightTheme div main #todo {
  box-shadow: 0px 10px 24px 3px rgba(34, 60, 80, 0.23);
}
body.lightTheme div main #todo div {
  background-color: hsl(0, 0%, 98%);
  border-bottom: 1px solid hsl(233, 11%, 84%);
}
body.lightTheme div main div {
  background-color: hsl(0, 0%, 98%);
}
body.lightTheme div main div input[type=text] {
  background-color: hsl(0, 0%, 98%);
  color: hsl(235, 19%, 35%) !important;
}
body.lightTheme div main div input[type=checkbox] {
  border: 1px solid hsl(236, 9%, 61%);
}
body.lightTheme div main div input[type=checkbox]:hover {
  background: linear-gradient(hsl(0, 0%, 98%), hsl(0, 0%, 98%) 0) padding-box, linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
}
body.lightTheme div main div input[type=checkbox]:checked {
  background: url(images/icon-check.svg) center no-repeat, linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
body.lightTheme div .footerDiv {
  box-shadow: 0px 9px 14px -6px rgba(34, 60, 80, 0.2);
}
body.lightTheme div .footerDiv div span:hover {
  color: hsl(235, 19%, 35%);
}

body {
  background-color: hsl(235, 21%, 11%) !important;
  background-image: url(images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: 100% 33vh;
}
body div {
  width: 60%;
  font-family: "Josefin Sans", serif !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  color: hsl(0, 0%, 98%) !important;
}
body div header {
  margin-top: 15%;
}
body div header h1 {
  font-family: "Josefin Sans", serif !important;
  font-weight: 700 !important;
  font-size: 2.5rem !important;
  color: hsl(0, 0%, 98%) !important;
  letter-spacing: 10px;
  margin: 0;
}
body div header #theme {
  cursor: pointer;
}
body div main div {
  background-color: hsl(235, 24%, 19%);
  margin-bottom: 0;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
}
body div main div input[type=text] {
  font-family: "Josefin Sans", serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: hsl(0, 0%, 98%) !important;
  background-color: hsl(235, 24%, 19%);
  margin-bottom: 0;
  width: 90%;
  border: none;
  caret-color: hsl(220, 98%, 61%);
  border-radius: 0.3rem;
}
body div main div input[type=text]:focus {
  border: none;
  outline: none;
}
body div main div input[type=checkbox] {
  appearance: none;
  border: 1px solid hsl(233, 14%, 35%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 1rem;
  box-sizing: border-box;
  padding: 0;
  flex-shrink: 0;
}
body div main div input[type=checkbox]:hover {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  background: linear-gradient(hsl(235, 24%, 19%), hsl(235, 24%, 19%) 0) padding-box, linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
}
body div main div input[type=checkbox]:checked {
  background: url(images/icon-check.svg) center no-repeat, linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-size: 12px 12px, cover;
}
body div main #todo {
  padding: 0;
  margin-bottom: 0;
  border-radius: 0.3rem 0.3rem 0 0;
}
body div main #todo div:first-child {
  border-radius: 0.3rem 0.3rem 0 0;
}
body div main #todo div {
  background-color: hsl(235, 24%, 19%);
  margin-bottom: 0;
  margin-top: 0;
  padding: 1rem;
  border-bottom: 1px solid hsl(233, 14%, 35%);
  width: 100%;
  border-radius: 0;
  cursor: grab;
}
body div main #todo div span {
  white-space: normal;
  word-wrap: break-word;
}
body div main #todo div #spanIMG {
  cursor: pointer;
  display: none;
  margin-left: auto;
  border-radius: 50%;
}
body div main #todo div #spanIMG img {
  border-radius: 50%;
  width: 1rem;
}
body div main #todo div:hover #spanIMG {
  display: inline;
}
body div main #todo div.dragging {
  opacity: 0.5;
}
body div main #todo div.hidden {
  display: none !important;
}
body div .footerDiv {
  background-color: hsl(235, 24%, 19%);
  margin-bottom: 0;
  border-radius: 0 0 0.3rem 0.3rem;
  margin-top: 0;
  margin-bottom: 2rem;
}
body div .footerDiv div {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: hsl(234, 11%, 52%) !important;
}
body div .footerDiv div span {
  cursor: pointer;
}
body div .footerDiv div span:hover {
  color: hsl(236, 33%, 92%);
}
body div .footerDiv div .choosed {
  color: hsl(220, 98%, 61%);
}
body div .footerDiv div .choosed:hover {
  color: hsl(220, 98%, 61%);
}
body div .mobileDiv {
  display: none;
}
body div footer {
  color: hsl(234, 11%, 52%);
  font-size: 11px;
  text-align: center;
}
body div footer a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
  body div {
    width: 40%;
  }
}
@media screen and (max-width: 870px) {
  body div {
    width: 80%;
  }
}
@media screen and (max-width: 580px) {
  body.lightTheme {
    background-image: url(images/bg-mobile-light.jpg);
  }
  body {
    background-image: url(images/bg-mobile-dark.jpg);
  }
  body div {
    width: 90%;
  }
  body div header h1 {
    font-family: "Josefin Sans", serif !important;
    font-weight: 400 !important;
    font-size: 2rem !important;
    color: hsl(0, 0%, 98%) !important;
  }
  body div main #todo div #spanIMG {
    display: inline;
  }
  body div .footerDiv {
    margin-bottom: 1.5rem;
  }
  body div .footerDiv div:nth-child(2) {
    display: none !important;
  }
  body div .mobileDiv {
    padding: 0;
    display: flex;
    margin-top: 0;
  }
  body div .mobileDiv div {
    padding: 0;
  }
  body div .mobileDiv div span {
    font-family: "Josefin Sans", serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: hsl(234, 11%, 52%) !important;
  }
  body div .mobileDiv div .choosed {
    color: hsl(220, 98%, 61%) !important;
  }
}

/*# sourceMappingURL=main.css.map */
