$colors: (
    background: hsl(0, 0%, 100%),
    text: hsl(219, 9%, 45%),
    textLink: hsl(220, 13%, 13%),
    avatar: hsl(26, 100%, 55%),
    white: hsl(0, 0%, 100%),
    footerLink: hsl(228, 45%, 44%),
    countButton: hsl(223, 64%, 98%)
);

$avatarWidth: 2.5rem;
$mainImage: 25rem;
$imageMini: 5rem;
$borderRadiusImage: 1rem;
$opasity: 80%;

$filterOrange: brightness(0) saturate(100%) invert(67%) 
        sepia(53%) saturate(2000%) hue-rotate(345deg) 
        brightness(101%) contrast(91%);

$filterWhite: brightness(0) saturate(100%) invert(100%) 
              sepia(0%) saturate(0%) hue-rotate(0deg) 
              brightness(100%) contrast(100%);

@mixin font($weight: 400, $size: 16px, $color: map-get($colors, text)) {
    font-family: "Kumbh Sans", serif;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

@mixin image($width, $radius) {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0);
    width: $width;
    border-radius: $radius;
}

@mixin button($width, $height, $radius) {
    @include font(700, 16px, map-get($colors, textLink));
    border: none;
    width: $width;
    height: $height;
    border-radius: $radius;
}

body {
    background-color: map-get($colors, background);
    @include font();

    .curtain {
        display: none;
    }

    header {
        img[alt="image-avatar"] {
            @include image($avatarWidth, 50%);
            margin-left: 1rem;
            &:hover {
                border-color: map-get($colors, avatar);
            }
        }

        .offcanvas {
            width: 75% !important;
            img[alt="icon-close"] {
                cursor: pointer;
                @include button(1rem, 1rem, 0);
                margin-bottom: 2rem;
            }

            a {
                @include font(700, 16px, map-get($colors, textLink));
                margin-bottom: 1rem;
            }
        }

        nav {
            a {
                color: map-get($colors, text) !important;
                border: 4px solid map-get($colors, white) !important;
                margin-bottom: -.5rem;

                &:hover {
                    border-bottom-color: map-get($colors, avatar) !important;
                    color: map-get($colors, textLink) !important;
                }
            }
        }

        #countSneakers {
            width: 1.2rem;
            @include font(700, 9px, map-get($colors, white));
            background-color: map-get($colors, avatar);
            border-radius: .5rem;
            position: relative;
            left: 2rem;
            bottom: .6rem;
            cursor: pointer;
            display: none !important;
        }

        img[alt="icon-cart"] {
            cursor: pointer;
        }

        .divBasket {
            display: none;
            position: absolute;
            width: 15rem;
            right: 10%;
            h2 {
                @include font(700, 14px, map-get($colors, textLink));
            }

            p {
                @include font(700, 14px, map-get($colors, text));
                align-self: center;
            }
        }
    }

    main {
        margin-top: 3rem;

        .modal-content {
            background-color: rgba(0, 0, 0, 0);
            border: none;

            .modal-header {
                border: none;
                margin-left: auto;
                img[alt="icon-close"] {
                    width: 1.2rem;
                    filter: $filterWhite;
                    cursor: pointer;
                    position: relative;
                    right: -1.5rem;
                    top: 1rem;
                    &:hover {
                        filter: $filterOrange;
                    }
                }
            }
            
        }

        img[alt="image-product"] {
            @include image($mainImage, $borderRadiusImage);
        }

        img[alt="product-thumbnail"] {
            margin-top: 1rem;
            @include image($imageMini, $borderRadiusImage); 

            &:hover {
                opacity: $opasity;
            }
        }

        .flex-grow-1 {
            div {
                margin: 0;
            }
        }

        div {
            margin-right: 3rem;
            padding: .5rem;
        }

        .chooseImage {
            border-color: map-get($colors, avatar) !important;
            opacity: $opasity;
        }

        .info {

            h1 {
                @include font(700, 38px, map-get($colors, textLink));
                margin: 1rem auto 2rem auto; 
            }

            h2 {
                @include font(700); 
            }

            .newPrice {
                @include font(700, 30px, map-get($colors, textLink));

                .discount {
                    padding: 0 .5rem 0 .5rem;
                    margin-left: .5rem;
                    background-color: black;
                    @include font(700, 20px, map-get($colors, white));
                    border-radius: .3rem;    
                } 
            }

            .oldPrice {
                @include font(700);
            }

            .counter {
                @include button(8rem, 2.5rem, .5rem);
                cursor: auto;
                background-color: map-get($colors, countButton);

                span {
                    display: inline;
                    cursor: pointer;
                    width: 1.5rem;
                    &:hover {
                        opacity: $opasity;
                    }

                    img {
                        width: .7rem;
                    }
                }   
            }

            .buy {
                @include button(12rem, 2.5rem, .5rem);
                background-color: map-get($colors, avatar);

                img {
                    width: 1rem;
                    margin-right: 1rem;
                }

                &:hover {
                    opacity: $opasity;
                }
            }
        }
    }

    footer {
        @include font(400, 11px, map-get($colors, textLink)); 
        text-align: center; 
    
        a { 
            color: map-get($colors, footerLink);
        }
    }
}

@media screen and (max-width: 770px) {
    body {
        .curtain {
            display: block;

            img[alt="icon-menu"] {
                width: 1rem;
                margin-right: .5rem;
            }

            img[alt="logo"] {
                width: 7rem;
            }
        }

        header {
            nav {
                ul {
                    display: none !important;
                }
            }

            .divBasket {
                width: 98%;
                left: 0;
                right: 0;
                margin-left: 1%;
            }
        }

        main {
            flex-direction: column !important;
            margin-top: 0 !important;
    
            div {
                margin-right: 0rem !important;
                padding: 0rem !important;
            }
    
            img[alt=image-product] {
                margin: 0 0 1rem 0 !important;
                width: 20rem !important;
                height: 20rem !important;
            }
    
            .bottomImage {
                display: none !important;
            }
    
            .info {
                h1, .newPrice {
                    @include font(700, 24px, map-get($colors, textLink));
                    margin-bottom: 1rem;

                    .discount {
                        @include font(700, 16px, map-get($colors, white));
                    }
                }

                p {
                    @include font(400, 14px);
                }

                div {
                    flex-direction: column !important;
                    button {
                        width: 100% !important;
                        margin-right: auto !important;
                        margin-bottom: 1rem;
                    }
                }
        
                .price {
                    display: flex;
                    flex-direction: row !important;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}