$semi-white: rgba(207, 224, 255, 0.61);

body {
    background-image: url(../assets/crew/background-crew-desktop.jpg);
    color: white !important;

    main {
        margin-top: 100px;
        .divWidth {
            width: 500px;
        }

        h1 {
            font-size: 2rem;
            font-weight: 200;
        }
    
        h2 {
            font-size: 2rem;
            font-weight: 200;
            margin-bottom: 7rem;
            span {
                color: $semi-white;
            }
        }
    
        h3 {
            font-weight: 200;
            color: $semi-white
        }

        article {
            flex: 1;
            text-align: justify;

            h1 {
                font-size: 4rem;
                margin-bottom: 2rem;
            }

            p {
                margin-top: 2rem;
                font-size: 1rem;
                max-width: 400px;
                color: $semi-white;
            }

            #description {
                height: 150px;
            }

            .naviga {
                p {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: $semi-white;
                    margin-right: 2rem;
                    cursor: pointer;

                    &.active {
                        background-color: white;
                    }
                }
            }
        }

        div {
            flex: 1;

            img {
                position: fixed;
                bottom: 0;
                max-height: 70vh; 
                width: auto;
            }
        }
    }
}

@media screen and (max-width: 840px) {
    body {
        background-image: url(../assets/crew/background-crew-tablet.jpg);
        padding-bottom: 0;
        
        main#pos {
            margin-top: 3rem;
            flex-direction: column !important;
    
            article {
                text-align: center;

                h1 {
                    margin-bottom: 1rem;
                }
    
                p {
                    max-width: 400px;
                    margin-bottom: 3rem;
                }

                #description {
                    margin-top: 1rem;
                    height: auto;
                }

                .divWidth {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 2rem;
                    width: auto;

                    h2 {
                        margin-bottom: 1rem;
                    }

                    .naviga {
                        justify-content: center;
                        align-items: center;
                        p {
                            margin: 0 1rem;
                        }
                    }
                }
            }
    
            div {
                flex: 1;                
                img {
                    position: relative !important;
                    width: 300px !important;
                    max-height: none;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    body {
        background-image: url(../assets/crew/background-crew-mobile.jpg);

        main#pos {
            article {
                h1 {
                    font-size: 3rem;
                }
            }
        }
    }
}