$semi-white: rgba(207, 224, 255, 0.61);

body {
    background-image: url(../assets/home/background-home-desktop.jpg);
}

main {
    margin-top: 200px;

    h1 {
        font-size: 10rem;
        font-weight: 200;
    }

    h2 {
        font-size: 2rem;
        font-weight: 200;
    }

    h3 {
        color: $semi-white;
        font-weight: 200;
    }

    article {
        flex: 1;
        text-align: justify;
        p {
            margin-top: 2rem;
            font-size: 1rem;
            max-width: 400px;
            align-self: center;
            color: $semi-white;
        }

        a {
            text-decoration: none;
        }
    }

    .circle {
        background-color: white;
        color: black;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        h2 {
            font-size: 3rem;
        }
    }
}

@media screen and (max-width: 840px) {
    body {
        background-image: url(../assets/home/background-home-tablet.jpg);
    }

    main {
        margin-top: 100px;
        flex-direction: column !important;

        article {
            text-align: center;

            p {
                max-width: 600px;
                margin-bottom: 5rem;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    body {
        background-image: url(../assets/home/background-home-mobile.jpg);
        main {
            h1 {
                font-size: 5rem;
            }
            article {
                p {
                    width: 300px;
                }
            }
            .circle {
                height: 200px;
                width: 200px;
            }
        }
    }
}