body {
    background-color: black !important;
    background-repeat: no-repeat;
    padding: 2rem;
    background-size: cover;
    min-height: 100vh;

    .curtain {
        display: none;
    }

    header {
        div.strip {
            height: 1px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.322);
            width: 40%;
            margin-left: 1rem;
            position: relative;
            left: 1rem;
        }
    }

    nav {
        width: 100%;

        .nav {
            background-color: rgba(0, 0, 0, 0.425);

            li {
                margin: 0 2rem;
                height: 2.5rem;
                margin-top: 1rem;

                &.active-link {
                    border-bottom: 1px solid white;
                }

                a {
                    color: white;
                    text-decoration: none;
                    span {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 945px) {
    div.strip {
        width: 0% !important;
    }
}

@media screen and (max-width: 450px) {
    div.strip {
        width: 0% !important;
    }

    body {
        header {
            .curtain {
                display: block;
                margin-left: auto;

                span {
                    img {
                        width: 35px;
                    }
                }
            }
    
            nav {
                display: none !important;
            }

            .offcanvas-body {
                background-color: black;
                color: white;
                font-size: 2rem;

                img {
                    display: block;
                    margin-top: 1rem;
                    margin-left: auto;
                }
            }
        }
    }
}